nav {
  z-index: 1
}

.side-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  width: 0;
  height: 100vh;
  box-shadow: 1px 0 10px gray;
  overflow-x: hidden;
  transition: 0.5s;
  background: inherit;
  z-index: 2;
}
.side-nav.active {
  border: none;
  width: 200px;
}

.side-nav button {
  background: none;
  border: none;
  color: white;
}
.side-nav button:focus {
  outline: none;
}

.side-nav .nav-link {
  margin: 5px 0;
  padding-left: 20px;
  width: 100%;
  text-align: left;
  font-size: 20px;
  line-height: 32px;
  overflow: hidden;
  white-space: nowrap;
}

.nav-close {
  height: 50px;
  width: 100%;
  text-align: right;
}

.nav-close #closeBtn {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  width: 50px;
  height: inherit;
  margin: 0;
  padding: 0;
}

.closeBtn {
  margin: 10px 0 5px 0;
  text-align: right;
  font-size: 40px;
}

.top-nav {
  width: 100%;
  height: 50px;
  /* border-bottom: 1px solid white; */
  box-shadow: 0 1px 10px gray;
  padding: 10px 10px;
  z-index: 1;
  position: fixed;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  height: 28px;
}

.hamburger-bar {
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  height: 8px;
  width: 40px;
}

.navbar-content {
  display: flex;
}

.navbar-header {
  color: white;
  margin: auto 0px;
  padding-left: 10px;
}

/* @media only screen and (min-width: 450px) {
  .side-nav {
    display: none;
  }
  .top-nav {
    display: none;
  }
} */